# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
/build/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
# Archives
*.zip
*.rar
*.7z

# Build outputs
/bin/
/obj/
/dist/
/build/

# Dependencies
node_modules/
venv/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
# Secrets
lib/core/config.dart
.env

# Large / unwanted files
*.zip

# Flutter
build/
.dart_tool/
.packages

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
